global:
    password: abc123
    encryption_key: def00000c32af81976d27bfcc7e834f92206d88d70711ef21ea465a337ec80b288ce0bf729c76ab6279fb2a0990e19affbfe5ca945e012063121ac74e6b83ff24f7030b2
galette_flarum:
    title: 'Forum Flarum'
    redirect_logout: 'http://192.168.1.99/flarum/public'
    options: teamonly
galette_nc:
    title: 'Le cloud de votre association'
    redirect_logout: 'http://192.168.1.99/nextcloud'
    options: uptodate
